/*General css*/
body {
    background-color: #fff;
    font-family: Arial;    
}

h5 {
    color: #8c0003;
    font-family: Arial;
    font-weight: bold;
}

h1.city-name{
    color: #484747;
    font-weight: bold;
}

.title-full-width {
    background-color: #efefef;
    min-height: 60px;
    margin-bottom: 0;
    position: fixed;
    top: 116px;
    z-index: 1000;
    width: 100%;
}

.title-full-width .row,
.title-full-width .row > div {
    height: 100%;
}

.title-full-width .row h5 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.title-full-width .row h5 img {
    margin-right: 10px;
}

/*Header*/
header {
    background: #b3151a url("../img/bg-header.jpg") repeat-x bottom;
    height: 116px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    display: block;
    margin-top: 25px;
}

.list-cities {
    display: block;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    min-height: 300px;
    overflow-y: scroll;
}

.list-cities li a {
    color: #797979;
    font-family: Arial;
    font-size: 1rem;
}

/*Footer*/
footer {
    background-color: #6b1012;
    min-height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

footer p {
    color: #fff;
    font-family: Arial;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

/*Programming*/
.title-full-width .row h5 span {
    color: #484747;
    font-size: 1.25em;
}

.programming .banner-promotion {
    margin: 40px 0 0;
}

.programming .tabs {
    background: transparent url("../img/bg-ul-tab.jpg") repeat-x scroll bottom;
}

.programming .tabs-content {
    margin-bottom: 2.5rem;
}

.programming .tabs .tab-title {
    background-color: #fff;
    border-bottom: 5px solid #939292;
    color: #939292;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5rem 8rem 0.5rem 1rem;
}

.programming .row-movie {
    border-bottom: 1px solid #c8cdcf;
    display: block;
    margin-bottom: 0.9375rem;
    overflow: hidden;
    padding-bottom: 0.9375rem;
    width: 100%;
}

.programming .row-movie:last-child {
    border-bottom: none;
}

.programming .row-movie .name-and-horary h6 {
    color: #484747;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem
}

.programming .row-movie .name-and-horary h6 a {
    color: #484747;
}

.programming .row-movie .name-and-horary p {
    background: #fff url("../img/bg-normal-horary.jpg") no-repeat scroll left center;
    color: #484747;
    font-size: .875rem;
    height: 23px;
    margin-bottom: 0.4rem;
    padding-left: 30px;
}

.programming .row-movie .name-and-horary p.horary-with-observation {
    background-image: url("../img/bg-observation-horary.jpg");
    color: #870202;
}

.programming .row-movie .informations p {
    color: #8b8b8b;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    padding-left: 27px;
}

.programming .row-movie .informations .type-image {
    background: #fff url("../img/bg-3d.jpg") no-repeat scroll left center;
    color: #870202;
}

.programming .row-movie .informations .type-copy {
    background: #fff url("../img/bg-type-copy.jpg") no-repeat scroll 7px center;
}

.programming .row-movie .informations .classification {
    background-position: 7px center;
    background-repeat: no-repeat;
}

.programming .row-movie .informations .classification-free {
    background-image: url("../img/bg-classification-free.jpg");
}

.programming .row-movie .informations .classification-10 {
    background-image: url("../img/bg-classification-10.jpg");
}

.programming .row-movie .informations .classification-12 {
    background-image: url("../img/bg-classification-12.jpg");
}

.programming .row-movie .informations .classification-14 {
    background-image: url("../img/bg-classification-14.jpg");
}

.programming .row-movie .informations .classification-16 {
    background-image: url("../img/bg-classification-16.jpg");
}

.programming .row-movie .informations .classification-18 {
    background-image: url("../img/bg-classification-18.jpg");
}

.programming .prices {
    margin-top: 45px;
}

.programming .prices table {
    margin-bottom: 0;
    width: 100%;
}

.programming .prices table thead {
    background-color: #79828b;
}

.programming .prices table thead tr th {
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
}

.programming .prices table thead tr th img {
    margin-right: 13px;
}

.programming .prices table thead tr th span {
    font-weight: normal;
}

.programming .prices table tr td {
    color: #484747;
    font-size: 0.875rem;
}

.programming .prices table.info thead tr th {
    font-weight: normal;
}

.programming .newsletter {
    margin: 50px 0 20px;
}

.programming .newsletter p {
    color: #0773bb;
    font-size: 1rem;
}

.programming .newsletter p img {
    margin-right: 12px;
}

.programming .flexslider-parcery {
    margin: 80px 0;
}