<ion-view>
    <ion-content class="contact">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nome" ng-model="ContactModel.Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="E-mail" ng-model="ContactModel.Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Cinema" ng-model="ContactModel.MovieTheater">
            </label>
            <label class="item item-input">
                <textarea placeholder="Mensagem" rows="10" ng-model="ContactModel.Message"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-assertive button-block" ng-click="SendEmail()">Enviar</button>
            </div>
        </div>
    </ion-content>
</ion-view>
