<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar bar-header bar-assertive main-bar">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a menu-close class="button button-icon button-clear ion-search" href="#/app/search">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu">
    <ion-content>
      <ion-list class="dark">
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home"></i>&nbsp;INÍCIO
        </ion-item>
        <ion-item menu-close href="#/app/movietheaters">
          <i class="icon ion-location"></i>&nbsp;CINEMAS
        </ion-item>
        <ion-item menu-close href="#/app/movies">
          <i class="icon ion-film-marker"></i>&nbsp;FILMES
        </ion-item>
        <ion-item menu-close href="#/app/ticket">
          <i class="icon ion-cash"></i>&nbsp;COMPRAR
        </ion-item>
        <!--<ion-item menu-close href="#/app/promotion">
          <i class="icon ion-star"></i>&nbsp;PROMOÇÃO
        </ion-item>-->
        <ion-item menu-close href="#/app/contact">
          <i class="icon ion-email"></i>&nbsp;CONTATO
        </ion-item>
        <!--<ion-item menu-close href="#/app/playlists">
          <i class="icon ion-bag"></i>&nbsp;FIDELIDADE
        </ion-item>-->
        <ion-item href="" ng-click="CloseApplication()">
          <i class="icon ion-power"></i>&nbsp;SAIR
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
