<ion-view>
    <ion-content class="programming">
        <div class="row">
            <div class="col">
                <div class="box-date-horaries">
                    <a href="#" class="btn-nav btn-prev"></a>
                    <div class="flexslider-horaries" ng-show="ShowFlexSlide">
                        <ul class="slides">
                            <li class="text-center" ng-repeat="date in Dates">{{date.WeekDay}}<br/><span>{{date.DayAndMonth}}</span></li>
                        </ul>
                    </div>
                    <a href="#" class="btn-nav btn-next"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="title">Alfenas - 01/01 a 01/01</p>
            </div>
        </div>
        <div class="row row-movie">
            <div class="col col-33">
                <img src="http://cinea.com.br/Images/Movies/116.jpg" width="100%">
            </div>
            <div class="col col-67">
                <p class="name-movie">Aquaman</p>
                <p class="horary horary-observation">14:45 - Todos Pagam R$5,00</p>
                <p class="horary horary-normal">16:45 - 18:45 - 21:30</p>
                <p>
                    <img src="../img/bg-3d.jpg" class="ico-3d">
                    <span class="idiom">Dublado</span>
                    <img src="../img/bg-classification-free.jpg" class="classification">    
                </p>
            </div>
        </div>
        <div class="row row-movie">
            <div class="col col-33">
                <img src="http://cinea.com.br/Images/Movies/116.jpg" width="100%">
            </div>
            <div class="col col-67">
                <p class="name-movie">Aquaman</p>
                <p class="horary horary-observation">14:45 - Todos Pagam R$5,00</p>
                <p class="horary horary-normal">16:45 - 18:45 - 21:30</p>
                <p>
                    <img src="../img/bg-3d.jpg" class="ico-3d">
                    <span class="idiom">Dublado</span>
                    <img src="../img/bg-classification-free.jpg" class="classification">    
                </p>
            </div>
        </div>
        <div class="row row-movie">
            <div class="col col-33">
                <img src="http://cinea.com.br/Images/Movies/116.jpg" width="100%">
            </div>
            <div class="col col-67">
                <p class="name-movie">Aquaman</p>
                <p class="horary horary-observation">14:45 - Todos Pagam R$5,00</p>
                <p class="horary horary-normal">16:45 - 18:45 - 21:30</p>
                <p>
                    <img src="../img/bg-3d.jpg" class="ico-3d">
                    <span class="idiom">Dublado</span>
                    <img src="../img/bg-classification-free.jpg" class="classification">    
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>