<ion-view>
    <ion-content class="programming">
        <div class="row">
            <div class="col">
                <div class="box-date-horaries">
                    <a href="#" class="btn-nav btn-prev"></a>
                    <div class="flexslider-horaries" ng-show="ShowFlexSlide">
                        <ul class="slides">
                            <li class="text-center {{date.ClassActive}}" ng-repeat="date in Dates" ng-click="ChangeDateAndGetHoraries($event, date.Date)">{{date.WeekDay}}<br/><span>{{date.DayAndMonth}}</span></li>
                        </ul>
                    </div>
                    <a href="#" class="btn-nav btn-next"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="title">{{CityName}}</p>
            </div>
        </div>
        <div class="row row-movie" ng-repeat="horary in Horaries">
            <div class="col col-33">
                <img ng-src="{{horary.ImageUrl}}" width="100%">
            </div>
            <div class="col col-67">
                <p class="name-movie">{{horary.MovieName}}</p>
                <p ng-repeat="horaryObservation in horary.HorariesWithObservation" class="horary horary-observation {{horaryObservation.Idiom}}">{{horaryObservation.Horary}} - {{horaryObservation.Observation}}</p>
                <p ng-repeat="horaryNormal in horary.NormalHoraries" class="horary horary-normal {{horaryNormal.Idiom}}">{{horaryNormal.Horary}}</p>
                <p>
                    <a ng-click="openTrailler(horary.LinkTrailerMobile, horary.MovieName)"><img src="../img/link-trailer.jpg" width="90"></a>
                    <a href="#/app/ticket"><img src="../img/link-ticket.jpg" width="90"></a>
                </p>
                <p>
                    <span ng-show="horary.Is3D" class="ico-3d"></span>
                    <span class="classification classification-free" ng-show="horary.IsClassificationFree"></span>
                    <span class="classification classification-10" ng-show="horary.IsClassification10"></span>
                    <span class="classification classification-12" ng-show="horary.IsClassification12"></span>
                    <span class="classification classification-14" ng-show="horary.IsClassification14"></span>
                    <span class="classification classification-16" ng-show="horary.IsClassification16"></span>
                    <span class="classification classification-18" ng-show="horary.IsClassification18"></span>    
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template"> 
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">{{movieNameToTrailer}}</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Fechar</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="video-container">
          <iframe width="100%" height="315" ng-src="{{url}}" frameborder="0"></iframe>
      </div>
    </ion-content>
  </ion-modal-view>
</script>