<ion-view>
  <ion-content class="promotion">
    <button class="button button-dark button-full icon-right ion-chevron-down btn-choose-your-city" ng-click="ShowOrHideMenu()">
            Programação
    </button>
    <div class="list city-list" ng-show="ShowMenu">
        <a ng-click="HideMenu()" ng-repeat="city in Cities" class="item item-icon-right" href="#/app/programming/{{city.Id}}">
            {{city.Name}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
    <img ng-src="{{banner.Image}}" width="100%" ng-repeat="banner in bannersPromotion">
  </ion-content>
</ion-view>
