<ion-view>
  <ion-content class="search">
    <div class="list">
      <label class="item item-input">
        <input type="text"
             placeholder="Buscar..."
             ng-model="txtsearch"
             id="txt-search"
             name="txt-search"
             ng-change="doSearch()"
             class="full-width" />
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="movie in Movies">
        {{movie.Name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
