<ion-view>
  <ion-content class="search">
    <div class="list">
      <label class="item item-input">
        <input type="text"
             placeholder="Buscar..."
             ng-model="txtsearch"
             id="txt-search"
             name="txt-search"
             ng-change="doSearch()"
             class="full-width" />
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="movie in Movies">
          <a class="item item-icon-right" href="#/app/moviedetail/{{movie.Id}}">
              {{movie.Name}}
           </a>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
