<ion-view>
    <ion-content class="ticket">
        <button class="button button-dark button-full icon-right ion-chevron-right btn-choose-your-city" ng-click="ShowOrHideMenu()">
            Escolha sua cidade
        </button>
        <ul class="list city-list" ng-show="ShowMenu">
            <li class="item" ng-repeat="city in Cities">
                <a ng-click="HideMenu()" href="#/app/programming/{{city.Id}}">{{city.Name}}</a>
            </li>
        </ul>
        <p class="text-center img-ingresso-com">
            
        </p>
        <p class="text-center">A venda de ingresso da CineA é realizada pela Velox Tickets</p>
        <hr/>
        <p class="text-center">Ao clicar em Prosseguir, você será redirecionado para efetuar sua compra</p>
        <div class="row">
            <div class="col text-center">
                <a href="http://www.cinea.com.br/Ticket" class="button button-assertive button-block" >Prosseguir</a>
            </div>
        </div>
    </ion-content>
</ion-view>
