<ion-view>
    <ion-content class="ticket">
        <p class="text-center img-ingresso-com">
            
        </p>
        <p class="text-center">A venda de ingresso da CineA é realizada pela Velox Tickets</p>
        <hr/>
        <p class="text-center">Ao clicar em Prosseguir, você será redirecionado para efetuar sua compra</p>
        <div class="row">
            <div class="col text-center">
                <a href="http://www.cinea.com.br/Ticket" class="button button-assertive button-block" >Prosseguir</a>
            </div>
        </div>
    </ion-content>
</ion-view>
