/*Css Geral*/
p, a {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-choose-your-city {
  background-color: #212121 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  z-index: 1000;
}

.has-header {
    top: 80px;
}

input::-moz-placeholder, 
textarea::-moz-placeholder {
  color: #333 !important;
}

/*Barra de título principal*/
.bar-header.bar-assertive.main-bar{
    border-color: #73010b !important;
    background-color: #73010b !important;
    min-height: 80px !important;
}

.bar-header.bar-assertive.main-bar .title{
    background: #73010b url("../img/logo-cinea2.jpg") no-repeat scroll center top !important;
    min-height: 80px !important;
}

/*Barras de títulos geral*/
.bar-header.bar-assertive{
    border-color: #73010b !important;
    background-color: #73010b !important;
}

.bar-header.bar-assertive.main-bar .title{
    background-color: #73010b;
}

.button-assertive{
  background-color: #920315 !important;
}

/*Menu lateral*/
.menu-left .scroll-content.ionic-scroll {
    background-color: #1f1f1f;
}

.dark .list .item{
  border-color: #000;
}

.dark .list .item-content{
  background-color: #3f4041 !important;
  color: #ffffff;
}

.main-menu .dark .list .item-content .icon {
    color: #ff3040;
    font-size: 150%;
}

.ion-navicon-round {
  margin-top: 10px;
}

.ion-search{
  margin-top: 15px;
}

.main-menu .item-complex .item-content { 
  padding: 16px 10px 16px 40px;
}

.main-menu .item-radio .item-content {
  padding: 16px 10px;
}

.scroll {
  height: 100%;
}

/*City list*/
.city-list li {
  background-color: #444;
  color: #fff;
}

.city-list li a {
  color: #e0e0e0;
  text-decoration: none;
}

.city-list.ng-hide-remove {
  -webkit-animation: 2s show;
  animation: 2s show;
}

@keyframes show {
  from { top: -100%; }
  to { top: 0; }
}

@-webkit-keyframes show {
  from { top: -100%; }
  to { top: 0; }
}

/*Unidades*/
.movie-theaters .list {
  margin-left: 10px;
  margin-right: 10px; 
}

.movie-theaters .list .item {
  border-bottom: 1px solid #585858 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 7px;
}

.movie-theaters .list .item .item-note {
  color: black;
  float: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: left;
  width: 100%;
}

/*Detalhes da cidade*/
.city-detail .box-spinner {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.city-detail .spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
}

.city-detail .information {
  margin-left: 10px;
  margin-top: 15px;
}

/*Google Maps*/
#map {
  margin-top: -42px;
  width: 100%;
  height: 50%;
}

/*Ingresso*/
.ticket .img-ingresso-com {
  background: transparent url("../img/velox.jpg") no-repeat scroll center center;
  height: 102px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.ticket hr {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80% !important;
}

/*Home*/
.home {
  background-color: #303030;
}

.home .p-title {
  background-color: #292929;
  color: #e0e0e0;
  margin-top: -4px; 
  padding: 5px 0 5px 8px;
  font-size:1.3em;
  font-weight: bold;
}

.home .in-poster {
  background-color: #292929;
}

.home .coming-soon {
  background: #74020c url("../img/bg-comming-soon.jpg") no-repeat scroll center center;
}

.home a {
  color: #e0e0e0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.home .col {
  margin-bottom: 10px;
}

/*Programming*/
.programming .box-date-horaries {
    border: 1px solid #8a8a8a;
    height: 70px;
    margin-top: 15px;
    position: relative;
    width: 100%;
}

.programming .box-date-horaries .flexslider-horaries {
    height: 100%;
    margin: 0 auto;
    width: 80%;
}

.programming .box-date-horaries .btn-nav {
    height: 100%;
    position: absolute;
    top: 0;
    width: 10%;
}

.programming .box-date-horaries .btn-prev {
    background: transparent url("../img/btn-prev-horary.jpg") no-repeat center center; 
    left: 0;
}

.programming .box-date-horaries .btn-next {
    background: transparent url("../img/btn-next-horary.jpg") no-repeat center center;
    right: 0;
}

.programming .box-date-horaries .flexslider-horaries .flex-viewport, 
.programming .box-date-horaries .flexslider-horaries .slides {
    height: 100%;
}

.programming .box-date-horaries .flexslider-horaries .slides li {
    color: #070707;
    font-size: 100%;
    height: 100%;
    line-height: 1.2rem;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.programming .box-date-horaries .flexslider-horaries .slides li.active,
.programming .box-date-horaries .flexslider-horaries .slides li:hover {
    background-color: #c33131;
    color: #fff;
    cursor: pointer;
}

.programming .box-date-horaries .flexslider-horaries .slides li:after {
    background-color: #8a8a8a;
    content: "";
    float: right;
    height: 100%;
    margin-top: -19px;
    width: 1px;
}

.programming .box-date-horaries .flexslider-horaries .slides li span {
    font-size: 120%;
}

.movprogrammingies p.title {
  color: #000;
  font-size: 140%;
  margin-top: 15px;
}

.programming .row-movie {
  padding-bottom: 10px;
  padding-top: 10px;
}

.programming .row-movie .col {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

.programming .row-movie p.name-movie {
  color: #000;
  font-size: 140%;
}

.programming .row-movie p.name-movie a {
  color: #000;
  text-decoration: none;
}

.programming .row-movie p.horary {
  color: #000;
  font-size: 100%;
  margin-bottom: 10px;
  padding-left: 35px; 
}

.programming .row-movie p.horary.horary-observation {
  color: #920316;
}

.programming .row-movie .idiom {
  background: transparent url("../img/bg-type-copy.jpg") no-repeat left center;
  margin-right: 10px;
  padding-left: 18px;
}

.programming .row-movie .ico-3d {
  background: transparent url("../img/bg-3d.jpg") no-repeat left center;
  display: inline-block;
  height: 17px;
  margin-right: 10px;
  width: 53px;
}

.programming .row-movie .ico-4k {
  background: transparent url("../img/logo-4k.jpg") no-repeat left center;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 30px;
}

.programming .row-movie .ico-atmos {
  background: transparent url("../img/logo-atmos.jpg") no-repeat left center;
  display: inline-block;
  height: 17px;
  margin-right: 10px;
  width: 40px;
}

.programming .row-movie p.dub {
  background: transparent url("../img/ico-dublado.jpg") no-repeat scroll left top;
}

.programming .row-movie p.leg {
  background: transparent url("../img/ico-legendado.jpg") no-repeat scroll left top;
}

.programming .row-movie p.nac {
  background: transparent url("../img/ico-nacional.jpg") no-repeat scroll left top;
}

.programming .row-movie .classification {
  display: inline-block;
  height: 18px;
  width: 16px;
}

.programming .row-movie .classification-free {
  background: transparent url("../img/bg-classification-free.jpg") no-repeat left center;
}

.programming .row-movie .classification-10 {
  background: transparent url("../img/bg-classification-10.jpg") no-repeat left center;
}

.programming .row-movie .classification-12 {
  background: transparent url("../img/bg-classification-12.jpg") no-repeat left center;
}

.programming .row-movie .classification-14 {
  background: transparent url("../img/bg-classification-14.jpg") no-repeat left center;
}

.programming .row-movie .classification-16 {
  background: transparent url("../img/bg-classification-16.jpg") no-repeat left center;
}

.programming .row-movie .classification-18 {
  background: transparent url("../img/bg-classification-18.jpg") no-repeat left center;
}

.programming .btn-trailer {
  background: transparent url("../img/link-trailer.jpg") no-repeat left center;
  display: inline-block;
  height: 42px;
  width: 90px;
}

.programming .btn-ticket {
  background: transparent url("../img/link-ticket.jpg") no-repeat left center;
  display: inline-block;
  height: 42px;
  width: 90px;
}

/*Movies*/
.movies .bar-dark {
  border-top: 2px solid #fff;
}
.movies .bar-dark .button {
  background-color: #1f1f1f !important;
}

.movies .button-bar > .button:first-child {
  border-radius: 0;
}

.movies .button-bar > .button:last-child {
  border-radius: 0;
}

.movies .bar-dark .button.active {
  background: #7b010c url("../img/bg-button-tab-movies-active.jpg") no-repeat center center !important;
}

/*Promotions*/
.promotion img {
  margin-bottom: 7px;
}

.search-box{
    background-color:#000;   
}

.search-box input{
     color:#FFF;
     font-size:1.2em;     
}

.search *::-webkit-input-placeholder {
  color: #FFF !important;
}
.search *::-moz-placeholder {
  color: #FFF !important;
}
.search  *:-ms-input-placeholder { /* IE10+ */
  color: #FFF !important;
}

.movies p.title {
  color: #000;
  font-size: 140%;
  margin-top: 15px;
}

.movies .row-movie {
  padding-bottom: 10px;
  padding-top: 10px;
}

.movies .row-movie .col {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

.movies .row-movie p.name-movie {
  color: #000;
  font-size: 140%;
}

.movies .row-movie p.name-movie a {
  color: #000;
  text-decoration: none;
}